<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="utf-8">
  <title>Kesäkisat</title>
  <link href="static/tyylit.css" rel="stylesheet" />
</head>
<body>
    <h1>JKLFC:n kesäkisojen ilmoittautuminen</h1>
    <form action="{{request.base_url}}" method="POST">
        <fieldset>
        <label>Nimi<input type="text" id="nimi"/></label>
        </fieldset>
        <button onclick="ilmoittaudu()" >Ilmoittaudu</button>
    </form>
    <p><a href="{{request.base_url}}100m">Kisasivulle</a></p>
  <script>



      function ilmoittaudu() {
        let nimi = document.getElementById("nimi");
        console.log(nimi.value);
        var data = {
          "nimi": nimi.value,
        };
        let req = new XMLHttpRequest();
        req.open('POST', '/save', true);
        req.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
        req.send(JSON.stringify(data));
      }
  </script>
</body>
</html>
